html{
    background-color: #f3b8ca
}

.login
{
    
    position: absolute;
    top:20px;
    left:1250px;
}

a{
    text-decoration: none;
}
.midbox
{
    border:1px solid #ad4040;
    border-radius: 5px;
    text-align: center;
    width:fit-content;
    padding: 0px 10px 10px 10px;
    margin-top: 100px;
    margin-left: 480px;
    position: absolute;
    font-family: cursive;
}
h1{
    color:#ad4040;
}


.sub
{
    background-color: rgb(250, 137, 137);
    border:1px solid #ad4040;
    border-radius: 5px;
    height: 25px;
    width:90px;
    font-family: cursive;
    padding-left: 5px;
}
.addd{
    position: absolute;
    top:20px;
    left:1100px;
}


